@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: inherit;
}
a{
  text-decoration: none;
  list-style: none;
}
hr{
  border: 1px solid #5b5656;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}