/* .verify{
    min-height: 60vh;
    display: grid;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border-top-color: tomato;
    animation: rotate 1s  infinite;
    border-radius: 50%;
    border: 5px solid gray;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    
} */


.verify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* Background color for contrast */
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid tomato; /* Tomato color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
